/* Стиль для основного контейнера */
.img-container {
    display: inline-block;
    width: 320px;
    padding: 15px;
    text-align: center;
    margin-top: 20px;
    background: #f0f0f0;
}

/* Оформлення списку */
.img-container ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/* Стиль для зображень */
.img-container img {
    width: 300px;
    display: inline-block;
    border-radius: 35px;
    text-align: center;
}

/* Стилі для вирівнювання */
.img {
    width: 200px;
}

.img.left {
    float: left;
}

.img.right {
    float: right;
}
